# General
.DS_Store
.idea/
*.iml
*.log
*.pid
*.pid.lock
*.seed
*.swo
*.swp
*.swp
*.tgz
*.zip
.dart_tool/
.packages
.pub/
.pub-cache/
.buildlog
.flutter-plugins
.flutter-plugins-dependencies
.generated/
local.properties

# Flutter/Dart specific
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.generated_plugin_registrant.dart
build/
flutter_export_environment.sh

# Android related
**/android/**/*.gradle
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/key.properties

# iOS related
**/ios/**/*.generated.xcconfig
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/ephemeral

# macOS related
**/macos/Flutter/ephemeral
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/flutter_export_environment.sh

# Web related
**/web/favicon.png
**/web/icons/
**/web/images/
**/web/splash/
**/web/.last_build_id

# VS Code
.vscode/
